<!DOCTYPE html>
<html>
<!-- 
JED - Jayden Zhang, Endrit Idrizi
SoftDev
K18 - LiveStuyle - Adding Flask and HMTL + CSS together to create a live page of our creation!!! 
2024-10-16
time spent: 1 hrs
-->

<head>
    <title> greyPage </title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <h1> foo H1 </h1>
    <div class="columns">
        <div>
            <nav>
                <ul id=navbar>
                    <h2> <a href="mimic.html">nav foo</a> </h2></br>
                    <li class=navLI> <a href="">dis</a> </li></br>
                    <li class=navLI> <a href="">dat</a> </li></br>
                    <li class=navLI> <a href="">de udda ting</a> </li>
                </ul>
            </nav>
        </div>
        <div>
            <h2> main foo heading </h2>
            <p>
                Lorem ipsum odor amet, consectetuer adipiscing elit.
                Vehicula himenaeos curae eget rutrum fusce. Feugiat
                adipiscing et ante ultrices mauris molestie aliquam sem.
                Eros adipiscing placerat donec finibus eu suscipit augue.
                Senectus leo rhoncus pharetra venenatis molestie dui
                egestas, sollicitudin semper. Nisi suspendisse pulvinar
                iaculis, ligula nostra orci aenean.</br> </br>

                Eros urna fringilla porta odio nullam nunc est? Aliquet
                lacus felis aenean aliquet; placerat turpis lobortis.
                Ultricies netus ex habitasse porta bibendum nascetur
                malesuada. Vivamus inceptos vestibulum nibh imperdiet
                eleifend. Felis dictumst massa finibus, congue consectetur
                varius varius. Maecenas nostra dolor dapibus etiam id orci
                sodales pretium. Ante libero erat lorem; convallis cursus id.
            </p>
        </div>
    </div>
    <footer> © Copyright Clyde "Thluffy" Sinclair</footer>
</body>

</html>
