<!DOCTYPE html>

<!-- 
NJ - Jayden Z., Naf M.
SoftDev
K23 -- Learning About and Using Rest APIs (Specifically NASA's API)
2024-11-21
time spent: 0.5
-->

<html lang="en">
    <head>
        <title>NASA Photo</title>
    </head>

    <body>
        <h3>NJ - Jayden Z., Naf M.</h3>
        <div style="display: flex; width: 60vw; height: 60vh;"> <!-- CSS Styling -->
            <img src="{{ photo }}"> <!-- Obtains photo from python file via flask -->
        </div>
        <p>{{ description }}</p> <!-- Obtains description from python file via flask -->
    </body>
</html>